.App {
  text-align: center;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header{
  text-align : center;
  font-family: sans-serif;
  color : red
}



.App-link {
  color: #61dafb;
}


.customer-login{
  text-align : center;
}


.Navigation{
  text-align : center;
  padding : 10px;
}

.received{
  width :500px;
  margin : 5% auto;
  padding : 10px;
  display : flex;
  align-items: center;


}
nav a{
padding : 10px;
text-decoration : none;
}